openapi: 3.0.3
info:
  title: API Sistema Gestione Deleghe (SGD)
  version: "1.0.0"
  description: |-
    This document contains the specification for the Sistema Gestione Deleghe API.

    The API is modeled around the "Attributo Delega" resource,
    that represents a signed delegation granted from
    a citizen to another to operate with respect
    to one or more services.
  termsOfService: https://deleghedigitali.gov.it/tos
  contact:
    name: Istituto Poligrafico e Zecca dello Stato (IPZS)
    url: https://deleghedigitali.gov.it
    email: tech@deleghedigitali.gov.it
  x-spid:
    aa-home: https://deleghedigitali.gov.it/api/v1.0.0/
    aa-registry: https://registry.spid.gov.it/metadata/aa/sgd.json
    aa-version: 1.0.0
    aa-required-attributes: [fiscalNumber]
    aa-lookup-attribute: fiscalNumber
  x-api-id: 123
  x-summary: A subtitle for the catalog
servers:
  - url: https://deleghedigitali.gov.it/api/v1
    description: Produzione.
x-commons:
  common-responses: &common-responses
   default:
     $ref: "#/components/responses/default"
  full-responses: &full-responses
    "400":
      $ref: "#/components/responses/400"
    "401":
      $ref: "#/components/responses/401"
    "404":
      $ref: "#/components/responses/404"
    "429":
      $ref: "#/components/responses/429"
    "503":
      $ref: "#/components/responses/503"
    default:
      $ref: "#/components/responses/default"

paths:
  /status:
    get:
      operationId: show_status
      description: |-
        This path can be used to health-check the API.
        Using this path prevents arbitrary use of a server URL
        for the scope of the health check.
      summary: >-
        Verifies that the server is working correctly.
      responses:
        <<: *common-responses
        "200":
          description: |-
            The server is working correctly.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
      tags:
        - public
  /docs/versions:
    #TODO: Maybe a pagination could be useful for this path
    get:
      operationId: list_versions
      summary: Returns the list of all available versions of the API
      description: |-
        It provides a chronological list of all the available API versions.
        Each item of the list contains the version number
        together with the released date of the API.
      responses:
        <<: *common-responses
        "200":
          description: Ok
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLDocument'
            application/json:
              schema:
                $ref: '#/components/schemas/APIVersions'
      tags:
        - public
        - documentation
        - guidelines
      x-spid-operation: # See §2.8
        consentRequired: "N"
        offlineAccess: true
        offlineAccessDurationMax: 8640000
  /docs/versions/latest:
    get:
      operationId: list_latest
      summary: Returns the document describing the latest version of the API
      description: |-
        Returns the document describing the latest version of the API

        FIXME: è un redirect, probabilmente non ritorna un documento.
      responses:
        <<: *common-responses
        "302":
          description: |-
            A redirect URL where the latest version is located
                ('https://deleghedigitali.gov.it/api/v<LATEST_VERSION>')
          headers:
            Location:
              schema:
                type: string
                format: url
              description: |-
                The url of an API version.
      tags:
        - public
        - documentation
        - guidelines
      x-spid-operation: # See §2.8
        consentRequired: "N"
        offlineAccess: true
        offlineAccessDurationMax: 8640000
  /docs/versions/v1:
    get:
      operationId: show_version
      summary: Returns the document describing this version of the API.
      description: |-
        FIXME: questo espone https://.../api/v1/v1. E' quello che si vuole?
      responses:
        <<: *common-responses
        "200":
          description: Ok
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLDocument'
      tags:
        - public
        - documentation
      x-spid-operation: # See §2.8
        consentRequired: "N"
        offlineAccess: true
        offlineAccessDurationMax: 8640000

  /docs/tos:
    get:
      description: It provides an HTML page with the Terms of Service
      operationId: show_tos
      summary:
        Returns the document with the terms and conditions related to this
        system
      responses:
        <<: *common-responses
        "200":
          description: Ok
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLDocument'
      tags:
        - public
        - guidelines
        - documentation
      x-spid-operation: # See §2.8
        consentRequired: "N"
        offlineAccess: true
        offlineAccessDurationMax: 8640000

  /delegations:
    get:
      operationId: list_delegations
      summary: Returns the list of the delegations
      description: |-
        List of the delegations related to the services
        (or class of services) provided by the authenticated RP and having
        the current user as delegated.

        For privacy reason, each item shows
        only the minimum set of information about the delegations,
        needed by the user to select the delegation he wants to use.
        Only *the delegation identification number* and the *delegator
        fiscal number partially hidden* is given.

      parameters:
        - $ref: "#/components/parameters/service_id"
      security:
        - dpopToken: []
          dpopProof: []
      x-spid-operation: # See §2.8
        consentRequired: "SP"
        spidLevel: SPID2
        offlineAccess: false
        offlineAccessDurationMax: 0
      tags:
        - protected
        - guidelines
      responses:
        <<: *full-responses
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Delegations"
              examples:
                Delegations:
                  $ref: "#/components/examples/Delegations"
  /delegations/{delegation_id}:
    get:
      operationId: show_delegation
      summary: >-
        Returns the complete content of a delegation
      description: |-
        Returns a delegation with the full set of related information,
        in the form of a signed JWT object.
      security:
        - dpopToken: []
          dpopProof: []
      x-spid-operation: # See §2.8
        consentRequired: "SP"
        spidLevel: SPID2
        offlineAccess: false
        offlineAccessDurationMax: 0
      tags:
        - protected
        - guidelines
      parameters:
        - in: path
          name: delegation_id
          required: true
          description: Identitier of this delegation as defined by SGD
          schema:
            $ref: '#/components/schemas/DelegationId'
      responses:
        <<: *full-responses
        "200":
          description: |-
            A set of delegation attributes in a JWS.
          content:
            application/jwt:
              schema:
                $ref: '#/components/schemas/DelegationFull'
              examples:
                DelegationFull:
                  $ref: "#/components/examples/DelegationFull"


components:
  securitySchemes:
    dpopToken:
      type: http
      scheme: DPoP
    dpopProof:
      description: |-
        Una DPoP proof basata su
         https://github.com/danielfett/draft-dpop/blob/master/main.md
      type: apiKey
      in: header
      name: DPoP
    DPoP-AccessToken:
      type: http
      bearerFormat: DPoP
      scheme: bearer
      description:
        "DPoP-bound Access Token releases by the STS endpoint of SGD during the
        Token Exchange OAuth2 protocol"
  responses:
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Unexpected error
    "400":
      description: |-
        Bad request.

        FIXME: definire response diverse per OAuth e API.
      x-noqa: Risposta OAuth2
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Errors"
          example:
            error: "invalid_request"
            error_description:
              The request is malformed, a required parameter is missing or a
              parameter has an invalid value.
    "401":
      description:
        The client request has not been completed because it lacks valid
        authorization credentials for the requested resource.
      x-noqa: Risposta OAuth2
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Errors"
          example:
            error: "invalid_client"
            error_description:
              The client request has not been completed because it lacks valid
              authorization credentials for the requested resource.
    "404":
      description: The requested resource was not found
      x-noqa: Risposta OAuth2
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Errors"
          example:
            error: "not_found"
            error_description: The requested resource was not found
    "429":
      description: Too Many Requests
      x-noqa: Risposta OAuth2
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Errors"
          example:
            error: "too_many_requests"
            error_description:
              The rate limit was exceeded and access is temporarily blocked. It
              is allowed max 50 requests per hour.
    "503":
      description: |-
        Temporary unavailable for maintenance or overload. 
        See https://docs.italia.it/italia/piano-triennale-ict/lg-modellointeroperabilita-docs/it/bozza/doc/04_Raccomandazioni%20di%20implementazione/04_raccomandazioni-tecniche-generali/05_robustezza.html?highlight=robustezza 
      x-noqa: Risposta OAuth2
      headers:
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Errors"
          example:
            error: "temporarily_unavailable"
            error_description:
              The server is currently unable to handle the request due to
              maintenance or temporary overload.
  headers:
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        format: int32
        maximum: 186400
        minimum: 0
        type: integer
  parameters:
    service_id:
      in: query
      name: service_id
      required: false
      schema:
        $ref: "#/components/schemas/ServiceId"

  schemas:
    HTMLDocument:
      type: string
      description: HTML page with the Terms of Service
    Problem:
      $ref: "https://teamdigitale.github.io/openapi/v0.1.0/definitions.yaml#/components/schemas/Problem"
    Authorization:
      type: string
      example: DPoP Kz~8mXK1EalYznwH-LC-1fBAo.4Ljp~zsPE_NeO.gxU
    DPoP:
      type: string
      example:
        "eyJ0eXAiOiJkcG9wK2p3dCIsImFsZyI6IkVTMjU2IiwiandrIjp7Imt0eSI6IkVDIiwieCI6Imw4dEZyaHgtMzR0VjNoUklDUkRZOXpDa0RscEJoRjQyVVFVZldWQVdCRnMiLCJ5IjoiOVZFNGpmX09rX282NHpiVFRsY3VOSmFqSG10NnY5VERWclUwQ2R2R1JEQSIsImNydiI6IlAtMjU2In19.eyJqdGkiOiJlMWozVl9iS2ljOC1MQUVCIiwiaHRtIj      oiR0VUIiwiaHR1IjoiaHR0cHM6Ly9yZXNvdXJjZS5leGFtcGxlLm9yZy9wcm90ZWN0Z      WRyZXNvdXJjZSIsImlhdCI6MTU2MjI2MjYxOCwiYXRoIjoiZlVIeU8ycjJaM0RaNTNFc05yV0JiMHhXWG9hTnk1OUlpS0NBcWtzbVFFbyJ9.2oW9RP35yRqzhrtNP86L-Ey71E    OptxRimPPToA1plemAgR6pxHF8y6-yqyVnmcw6Fy1dqd-jfxSYoMxhAJpLjA"
    DelegationId:
      type: string
      description: Identitier of this delegation
      format: uuid4
    ServiceId:
      type: string
      format: uuid
      description:
        Identifier of the service (or class of services) as given in the
        online OAS3 catalog of delegable services provided by the
        authenticated RP. It must be a UUID v4 identifier.
      example: 21905575-991a-43d5-bede-25f59ae93373
    DelegationMinimal:
      type: object
      additionalProperties: false
      required:
        - https://deleghedigitali.gov.it/delegation_id
        - https://deleghedigitali.gov.it/delegator_fiscal_number
      description: |-
        Each delegation is
        identified by the parameter id and the related fiscal number of
        delegating is given partially hidden for privacy reason.
      properties:
        https://deleghedigitali.gov.it/delegation_id:
          $ref: '#/components/schemas/DelegationId'
        https://deleghedigitali.gov.it/delegator_fiscal_number:
          $ref: '#/components/schemas/TINObfuscated'
    Delegation:
      oneOf:
      - $ref: '#/components/schemas/DelegationMinimal'
      - $ref: '#/components/schemas/DelegationFull'
    TIN: &TIN
      type: string
      pattern: ^TIN[A-Z]{2}-[A-Z0-9]+$
      description:
        Contains the fiscal number of the
        delegate holder of the delegation preceded by the prefix TIN
        followed by the country code (ISO 3166-1) as required by ETSI EN
        319-412-1.
      example: "TINIT-RSSMRA70A0H501I"
    TINObfuscated:
      <<: *TIN
      pattern: ^TIN[A-Z]{2}-[A-Z0-9]{5}.+[A-Z]$
      example: "TINIT-RSSMR**********I"
    Delegations:
      type: object
      description: |-
        JSON Object containing the delegation list.

        FIXME: valutare delle properties di contorno
               utili anche alla paginazione (count, limit, next, ...)
      properties:
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DelegationMinimal'
    UnixTimestamp: &UnixTimestamp
      type: integer
      format: int64
      minimum: 0
      exclusiveMinimum: true
      description: UNIX timestamp
      example: 1650573248

    APIVersions:
      type: object
      description:
        "JSON Object containing the list of all available versions of
        this API."
      properties:
        versions:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - iat
              - version
            properties:
              iat:
                <<: *UnixTimestamp
                description:
                  UNIX timestamp of when this version was released
              version:
                type: string
                description: |-
                  Version identifier of API given in the format
                  'v<MAJOR.MINOR.PATCH>'

                  FIXME: pubblicare la patch release può creare
                          problemi di interoperabilità. Le PATCH
                          non devono impattare sull'interfaccia.

    DelegationFull:
      type: object
      description: |-
        JWT Object representing the "delegation attribute", containing the
        identifying information about the delegated and delegating subjects and
        the characteristics of the delegation.
        
        The `body` property contains a complete representation 
        of the information provided in Delegation.
        It is transmitted in the compact form (base64_url encoded string).
      properties:
        header:
          type: object
          properties:
            alg:
              type: string
              description: The algorithm used to sign the JWT
              enum:
                - "RS256"
                - "RS384"
                - "RS512"
                - "ES256"
                - "ES384"
                - "ES512"
              default: RS256
              example: "RS256"
            kid:
              type: string
              description: Identifier of the key used to sign this JWT
              example: "WTNFc0JtSEg2dmptZUdrRHNUVlFJSHV2azZsNFhLY3hQZE5wYV9TanprSQ"
            typ:
              type: string
              description: Identifier of the type of token
              default: "JWT"
              example: "JWT"
          required:
            - alg
            - kid
        body:
          type: object
          properties:
            jti:
              type: string
              description: Identifier of this token
              example: "2bcbb3b9-cb5b-4ff7-81b0-3da894dd8c62"
            iat:
              <<: *UnixTimestamp
              description: UNIX timestamp of when this token was created
            iss:
              type: string
              format: url
              description: Identifier of the entity which issued this token
              default: https://deleghedigitali.gov.it/
              example: "https://deleghedigitali.gov.it/"
            sub:
              title: Delegate User Identifier.
              <<: *TIN
            https://deleghedigitali.gov.it/delegator_given_name:
              type: string
              description: |-
                Given name of the delegating subject
              example: "Alessandro"
            https://deleghedigitali.gov.it/delegator_family_name:
              type: string
              description: Family name of the delgating subject
              example: "Bianchi"
            https://deleghedigitali.gov.it/delegator_fiscal_number:
              <<: *TIN
              title: Delegator identifier
            https://deleghedigitali.gov.it/delegator_birthdate:
              type: string
              description: |-
                Date of birth of delegating subject
              example: "1980-01-01" 
            https://deleghedigitali.gov.it/delegator_email:
              type: string
              description: E-mail address of the delegating subject
              example: "a.bianchi@email.com"
            https://deleghedigitali.gov.it/delegator_phone_number:
              type: string
              description: mobile phone number of the delegating subject
              pattern: ^\+[0-9]+
              example: "+391234567890"
            https://deleghedigitali.gov.it/delegation_id:
              $ref: '#/components/schemas/DelegationId'
            https://deleghedigitali.gov.it/delegation_iat:
              <<: *UnixTimestamp
              description: UNIX timestamp of when the delegation is created
            https://deleghedigitali.gov.it/delegation_nbf:
              <<: *UnixTimestamp
              description: UNIX timestamp of when the delegation is valid
            https://deleghedigitali.gov.it/delegation_exp:
              <<: *UnixTimestamp
              description: UNIX timestamp of when the delegation expires
            https://deleghedigitali.gov.it/delegation_services:
              type: array
              description: |-
                Service (or class of services) identifiers provided
                by the authenticated RP and contained in the given delegation
              items:
                $ref: "#/components/schemas/ServiceId"
              example:
                - "18971e49-3c04-4e97-8344-02c01aeee936"
                - "32fef181-0ae8-4c93-9daa-0cab2b5c0f7e"
          required:
            - iss
            - sub
            - iat
            - jti
            - https://deleghedigitali.gov.it/delegator_given_name
            - https://deleghedigitali.gov.it/delegator_family_name
            - https://deleghedigitali.gov.it/delegator_fiscal_number
            - https://deleghedigitali.gov.it/delegation_id
            - https://deleghedigitali.gov.it/delegation_iat
            - https://deleghedigitali.gov.it/delegation_nbf
            - https://deleghedigitali.gov.it/delegation_exp
            - https://deleghedigitali.gov.it/delegation_services
        signature:
          type: string
          description: Signature of this JWT
    Errors:
      type: object
      required:
        - error
        - error_description
      properties:
        error:
          description: Error Code
          type: string
        error_description:
          description:
            Human-readable ASCII encoded text description of the error
          type: string

  examples:
    DelegationFull:
      summary: A JWS (expressed in expanded syntax.)
      value:
        header:
          alg: "RS256"
          kid: "WTNFc0JtSEg2dmptZUdrRHNUVlFJSHV2azZsNFhLY3hQZE5wYV9TanprSQ"
          typ: "JWT"
        body:
          iss: "https://deleghedigitali.gov.it/"
          sub: "TINIT-RSSMRA70A0H501I"
          iat: 1650575048
          jti: "2bcbb3b9-cb5b-4ff7-81b0-3da894dd8c62"
          https://deleghedigitali.gov.it/delegator_given_name: "Alessandro"  
          https://deleghedigitali.gov.it/delegator_family_name: "Bianchi"
          https://deleghedigitali.gov.it/delegator_fiscal_number: "TINIT-BNCLSN71H10H501B"
          https://deleghedigitali.gov.it/delegator_birthdate: "1980-01-01" 
          https://deleghedigitali.gov.it/delegator_email: "a.bianchi@email.com"
          https://deleghedigitali.gov.it/delegator_phone_number: "+391234567890"
          https://deleghedigitali.gov.it/delegation_id: "1A00001AA21"
          https://deleghedigitali.gov.it/delegation_iat: 1650573248
          https://deleghedigitali.gov.it/delegation_nbf: 1650573248
          https://deleghedigitali.gov.it/delegation_exp: 1650576848
          https://deleghedigitali.gov.it/delegation_services:
            - "18971e49-3c04-4e97-8344-02c01aeee936"
            - "32fef181-0ae8-4c93-9daa-0cab2b5c0f7e"
    Delegations:
      summary: A list of Delegations
      value:
        items:
          - https://deleghedigitali.gov.it/delegation_id: 1A00001AA21
            https://deleghedigitali.gov.it/delegator_fiscal_number: TINIT-RSSMR*********I
          - https://deleghedigitali.gov.it/delegation_id: 1A00002AA21
            https://deleghedigitali.gov.it/delegator_fiscal_number: TINIT-ABCXX*********Z
          - https://deleghedigitali.gov.it/delegation_id: 1A00004AA21
            https://deleghedigitali.gov.it/delegator_fiscal_number: TINIT-DEFYY*********W
    DelegationsServices:
      summary: A list of Delegations related to a specific service
      value:
          - https://deleghedigitali.gov.it/delegation_id: 1A00001AA21
            https://deleghedigitali.gov.it/delegator_fiscal_number: TINIT-RSSMR*********I
          - https://deleghedigitali.gov.it/delegation_id: 1A00002AA21
            https://deleghedigitali.gov.it/delegator_fiscal_number: TINIT-ABCXX*********Z


tags:
  - description: Publicly accessible
    externalDocs:
      description: Guidelines Attribute Authority SPID
      url: https://www.agid.gov.it/...
    name: public
  - description: Access is reserved for RPs under agreement with SGD
    externalDocs:
      description: Guidelines Attribute Authority SPID
      #Riferimento al sito agid dove sono state pubblicate le Linee Guida Attribute Authority SPID
      url: https://www.agid.gov.it/...
    name: protected
  - description: |-
      Implementing Agid guidelines
    name: guidelines
  - description: |-
      Provide documentation
    name: documentation
